LekplatsWebApp/LekplatsWebApp/Connected Services/LekplatsService/LekplatsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56906/LekplatsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LekplatsService" />
  <xs:import schemaLocation="http://localhost:56906/LekplatsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllaLekplatser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllaLekplatserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LekplatsService" minOccurs="0" name="GetAllaLekplatserResult" nillable="true" type="q1:ArrayOfLekplatsFullständigData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLekplatsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lekplatsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLekplatsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LekplatsService" minOccurs="0" name="GetLekplatsDataResult" nillable="true" type="q2:LekplatsFullständigData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLekplatserFrånOmråde">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="område" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLekplatserFrånOmrådeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LekplatsService" minOccurs="0" name="GetLekplatserFrånOmrådeResult" nillable="true" type="q3:ArrayOfLekplatsFullständigData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkapaLekplats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LekplatsService" minOccurs="0" name="nyLekplats" nillable="true" type="q4:LekplatsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkapaLekplatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SkapaLekplatsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SättBetyg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LekplatsService" minOccurs="0" name="betyg" nillable="true" type="q5:IndividuelltBetygData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SättBetygResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SättBetygResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllaOmråden">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllaOmrådenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllaOmrådenResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaBortLekplats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LekplatsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaBortLekplatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaBortLekplatsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UppdateraLekplats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LekplatsService" minOccurs="0" name="inputLekplats" nillable="true" type="q7:LekplatsFullständigData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UppdateraLekplatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UppdateraLekplatsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>